body {
	margin: 0;
	overflow: hidden;
	image-rendering: pixelated;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

img, a {
	-webkit-user-drag: none;
	user-drag: none;
}

button, input, textarea, select, a {
	outline: none;
}

body> * {
	position: fixed;
	top: 0;
	left: 0;
}

.w3-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
